*, a:hover, button:hover, .slider_area .owl-dots .owl-dot:hover, #scrollUp:hover {
    cursor: url("/css/cursor.cur"), auto;
}


html, body {
    overflow-x: hidden;
}

body, .header_middle, .sticky-header .sticky{
    background: rgba(253, 230, 236, 0.1) !important;
}

.page_content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.page_content {
    line-height: 2rem;
}



.mega_menu, .dropdown_search {
    background-color: rgb(253, 230, 236) !important;
}

    /* Equal Heights for OwlCarousel 2 */
.owl-carousel .owl-stage {
    display: -webkit-box;
    display: flex;
}
.owl-carousel .owl-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}
.owl-carousel .caption {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.owl-carousel .flex-text {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.owl-carousel .thumbnail {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 0 15px;
}


.customButton {
    background: #F9BBCA !important;
    color: #000 !important;
    text-align: center;
}

.customButton:hover {
    background: #F4587A !important;
    color: #fff !important;
}

.slider_area .owl-dots .owl-dot.active {
    background: #F4587A;
}

.slider_area .owl-dots .owl-dot:hover {
    background: #F4587A;
}

.banner_thumb {

    height: 300px;
    overflow: hidden;
}

.banner_thumb img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.product_thumb img {
    width: 100%;
    object-fit: cover;
}

.activeOption {
    border: 1px solid red;
}

.cart_button a {
    background: #F4587A;
}

.cart_button a:hover {
    background: #EC1C50;
}

.modal_social {
    text-align: end;
}


footer, .header_top {
    background: rgb(249, 187, 202);
    /*background: linear-gradient(100deg, rgba(255,255,255, 1) 0%, rgba(249, 187, 202, 1) 100%);*/
}

.main_menu nav > ul > li ul.sub_menu {
    background: #FDE6EC;
}

.about_text p {
    font-size: 15px;
}

.social_icons li {
    margin-right: 1.5rem;
}

.social_icons li:last-child {
    margin-right: 0;
}

.footer_title{
    font-size: 1.5rem;
    font-weight: 500;

}

.social_icons li {
    background: #F4587A;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.social_icons li a{
    left: 10px;
    position: relative;
    top: 3px;
}

.social_icons li a:hover{
    color: #000;
}

@media (min-width: 768px) {
    .footer_right {
        bottom: 2.4rem;
    }
}

.table-responsive table thead {
    background: rgb(249, 187, 202);
}

.pagination ul li {
    background-color: #F9BBCA;
}

.pagination ul li a:hover {
    background-color: #F4587A;
}
.pagination ul li.current {
    background-color: #F4587A;
}

.rating i {
    color: #FEB954;
}

@media (max-width: 768px) {
    .footer_menu ul li a {
        font-size: 12px;
    }
}


.page-item.active .page-link {

	color: #000;
    background-color: #F9BBCA;
    border-color: #F9BBCA;
}


.page-link {
	color: #000;
}
